/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.header{
    margin: 100px 0px 50px 0px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container>div{
    width: 45%;
}
.container p{
    margin: 20px 0px;
}